<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<table style="width:100%">
    <tr style="width:100%">
        <td style="width:20%; text-align:center"><img style="width:180px;margin: 0 auto 10px;" src="./assets/img/logo/logo-hebergement.png" alt="Logo"></td>
        <td style="width:5%;"></td>
        <td style="width:50%;text-align:center;">
            <p style="margin-top:25px;width:5px;text-align:center;font-weight:bold;">CENTRE SOCIAL D'HEBERGEMENT UNIVERSITAIRE</p>
        </td>
        <td style="width:5%;"></td>
        <td style="width:20%;"></td>
        {# <td style="width:25%;text-align:center"> <img src="./assets/img/logo/logo-hebergement.png" style="width:100px;margin: 0 auto;" > </td>
        <td style="width:70%;font-family: 'Source Sans Pro', sans-serif;"> <b>CENTRE SOCIAL D'HEBERGEMENT UNIVERSITAIRE</b> </td> #}
    </tr>
</table>