<div class="modal" role="dialog" id="affectation_modal" aria-modal="true">
	<div class="modal-dialog modal-md" style="max-width: 400px !important;" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Hébérger un etudiant</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div
				class="modal-body" id="affectation_infos"><!-- <div class="alert alert-info">Veuillez selectionner un ligne Pour Continuer Cette opération !!</div> -->

			</div>
		</div>
	</div>
</div>
